a {
	font-family: 'Clash Display', sans-serif;
	font-weight: 900;
	text-decoration: none;
	font-size: 16px;
	color: black;

}

a:hover {
	color: white;
	font-size: 20px;
	background-color: black;
}

body {
	
}

h2 {
	font-family: 'Clash Display', sans-serif;
}

h1 {
	font-family: 'Clash Display', sans-serif;
	font-weight: 400;
}

p,tr,form,.button{
	font-family: 'Archivo', sans-serif;
}

.button {
      background-color: orangered;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}

.button:hover {
      background-color: red;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}

.button:active {
      background-color: white;
      color: red;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}